main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    display: flex;
    align-items: center;
    padding-top: 2em;
}

.contact-details {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}