#leadership {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 1.5rem;
}

.leadership-card {
    border-radius: 0.5em;
    padding: 1.5rem;
    transition: transform 0.2s;
    background-color: var(--card-background-light);
    box-shadow: 0 0.25em 0.375em rgba(0,0,0,0.1);
}

body.dark-mode .leadership-card {
    background-color: var(--card-background-dark);
    border: 1px solid #333;
}

.leadership-card:hover {
    transform: translateY(-0.3125em);
}

.leadership-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.leadership-card-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.leadership-card-text {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.leadership-card ul.list {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.leadership-card ul.list li {
    margin-bottom: 0.5rem;
}