#technology {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 1.5rem;
}

.tech-card {
    border-radius: 0.5em;
    padding: 1.5rem;
    transition: transform 0.2s;
    background-color: var(--card-background-light);
    box-shadow: 0 0.25em 0.375em rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

body.dark-mode .tech-card {
    background-color: var(--card-background-dark);
    border: 1px solid #333;
}

.tech-card:hover {
    transform: translateY(-0.3125em);
}
