
.text-box {
  text-align: left;
  max-width: 50em;
  background-color: var(--card-background-light);
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.25em 0.375em rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

body.dark-mode .text-box {
  background-color: var(--card-background-dark);
  border-color: #333;
}
