.publications-container ul {
  list-style: none;
  padding: 0;
}

.publications-container li {
  background-color: var(--card-background-light);
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.25em 0.375em rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

body.dark-mode .publications-container li {
  background-color: var(--card-background-dark);
  border-color: #333;
}

.publications-container li:hover {
  transform: translateY(-0.3125em);
}

.publication-category {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  color: #2196F3;
  font-weight: bold;
}

body.dark-mode .publication-category {
  color: #64B5F6;
}

.publications-container li a {
  color: #2196F3;
  text-decoration: none;
}

body.dark-mode .publications-container li a {
  color: #64B5F6;
}

.publications-container li a:hover {
  text-decoration: underline;
}

.scholar-link {
  text-align: center;
  margin-bottom: 2rem;
}

.scholar-link a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5em;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}

.scholar-link a:hover {
    background-color: #1976D2;
}

body.dark-mode .scholar-link a {
    background-color: #42A5F5;
    color: #000;
}

body.dark-mode .scholar-link a:hover {
    background-color: #64B5F6;
}